.header {
    background: #000;
    padding: 10px;
}

.header__inner {
    max-width: 1540px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    margin-left: 10px;
    text-decoration: none;
}
.header__logo img {
    width: 90%;
}
.search-bar {
    width: 50%;
}
.search-bar input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-nav__item {
    padding: 0 10px;
}
.header-nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.header-nav__button {
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 16px;
}
.header-nav__sell {
    border: none;
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 8px 14px;
    cursor: pointer;
}
@media screen and (max-width: 1540px) and (min-width: 1400px) {
    .header {
        padding: 20px;
    }
    .header__logo img {
        width: 60%;
    }
    .search-bar {
        width: 50%;
    }
}
@media screen and (max-width: 850px) and (min-width: 768px) {
    .search-bar {
        width: 100%;
        margin-top: 10px;
    }
    .nav {
        width: 70%;
    }
    .header-nav {
        display: flex;
        justify-content: flex-start;
        width: 90%;
        margin-left: 30px;
    }

    .header__logo {
        width: 40%;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .search-bar {
        width: 65%;
        margin: 0px;
    }

    .header-nav__link,
    .header-nav__button,
    .header-nav__sell {
        font-size: 14px;
    }
}
