.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    max-width: 1540px;
    width: 90%;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.search-bar {
    width: 40%;
}
.search-bar input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-nav__item {
    padding: 0 10px;
}
.header-nav__link,
.header-nav__button {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.header-nav__sell {
    border: none;
    text-decoration: none;
    background: #fff;
    color: #000;
    padding: 5px 10px;
    cursor: pointer;
}
@media screen and (min-width: 1400px) {
    .header__inner {
        max-width: 1400px;
    }

    .search-bar {
        width: 50%;
    }
}
@media screen and (max-width: 850px) and (min-width: 768px) {
    .search-bar {
        width: 100%;
        margin-top: 10px;
    }
    .nav {
        width: 60%;
    }
    .header-nav {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        margin-left: 30px;
    }

    .header__logo {
        width: 40%;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .search-bar {
        width: 65%;
        margin: 0px;
    }

    .header-nav__link,
    .header-nav__button,
    .header-nav__sell {
        font-size: 14px;
    }
}
