.product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 上端を揃える */
    gap: 40px; /* 左右の間の余白 */
    margin: 0 auto;
    padding: 40px 20px;
}
.left-content {
    width: 40%;
}
.left-content img {
    width: 100%;
}

.right-content {
    width: 40%;
    text-align: center;
}

.comment__title img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.comment__contents {
    margin: 10px auto;
}
