.product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 上端を揃える */
    margin: 0 auto;
    padding: 20px 40px;
    gap: 20px;
}
.left-content {
    width: 50%;
}
.left-content img {
    width: 80%;
}

.right-content {
    width: 50%;
    text-align: left;
}
.like__button {
    background: none;
    border: none;
    cursor: pointer;
}
.product-info {
    margin-top: 15px;
}

.product-category {
    margin-bottom: 20px;
    display: flex;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.category-list {
    display: flex;
    flex-wrap: wrap; /* 折り返しを有効化 */
    gap: 8px; /* チップ同士の隙間 */
}

.category-chips {
    background: rgb(238, 233, 233);
    padding: 5px 10px;
    border-radius: 34px;
    font-size: 12px;
    white-space: nowrap;
}

.product-condition-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .category-chips {
    margin: 10px;
    background: rgb(238, 233, 233);
    padding: 5px;
    border-radius: 34px;
    font-size: 12px;
}
.product-condition {
    margin: 30px 10px;
} */
.comment__title img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.comment__contents {
    margin: 10px auto;
}
.order__button-submit,
.comment__button-submit {
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: red;
    color: #fff;
    cursor: pointer;
}
textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
