.product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 上端を揃える */
    margin: 0 auto;
    padding: 20px 40px;
    gap: 20px;
}
.left-content {
    width: 50%;
}
.left-content img {
    width: 80%;
}

.right-content {
    width: 50%;
    text-align: left;
}
.like__button {
    background: none;
    border: none;
    cursor: pointer;
}
.category-chips {
    margin-left: 30px;
    background: gray;
    padding: 5px;
    border-radius: 34px;
    font-size: 12px;
}
.product-condition {
    margin-left: 30px;
}
.comment__title img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.comment__contents {
    margin: 10px auto;
}
.order__button-submit,
.comment__button-submit {
    padding: 5px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: red;
    color: #fff;
    cursor: pointer;
}
textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}
