.mypage {
    max-width: 1540px;
    margin: 30px 0;
}
.mypage-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mypage__profile {
    display: flex;
    align-items: center;
    gap: 30px;
}
.mypage__profile img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.mypage__profile h3 {
    font-size: 24px;
}

.mypage__update-link {
    border: 1px solid red;
    padding: 10px;
    border-radius: 3px;
    height: 30px;
    color: red;
    font-size: 16px;
    text-decoration: none;
}

.products_nav {
    display: flex;
    align-items: flex-end; /* 下端に寄せる */
    height: 80px;
    border-bottom: 1px solid #000;
    gap: 40px; /* aタグ同士の余白（お好みで） */
    padding-left: 100px; /* 余白が入っていたら削除 */
}
.products_nav a {
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}

.products_nav a:visited {
    color: #000;
}
.products_nav a.active {
    color: #e60023;
}
.products__list {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: 100%;
    gap: 10px;
}
.card {
    width: 20%;
    margin: 15px;
}
.card img {
    width: 80%;
}
.card-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.sold-label {
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 4px;
}

@media screen and (max-width: 850px) and (min-width: 768px) {
    .card {
        width: 40%;
        margin: 15px;
    }

    .products__list {
        margin: 20px 60px;
        gap: 50px;
    }
}
