.mypage {
    margin: 30px 0;
}
.mypage-title {
    display: flex;
    justify-content: space-evenly;
}
.mypage__profile {
    width: 30%;
}
.mypage__profile img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
.mypage__update-link {
    border: 1px solid red;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    color: red;
}

.products_nav {
    display: flex;
    align-items: flex-end; /* 下端に寄せる */
    height: 80px;
    border-bottom: 1px solid #000;
    gap: 40px; /* aタグ同士の余白（お好みで） */
    padding-left: 100px; /* 余白が入っていたら削除 */
}
.products_nav a {
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}

.products_nav a:visited {
    color: #000;
}
.products_nav a.active {
    color: #e60023;
}
.products__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 15px;
    width: 100%;
}
.card {
    width: 22%;
    height: 200px;
    border: 1px solid #000;
    margin: 15px;
}
.card img {
    width: 100%;
}
