.products {
}

.products_nav {
    display: flex;
    align-items: flex-end; /* 下端に寄せる */
    height: 80px;
    border-bottom: 1px solid #000;
    gap: 40px; /* aタグ同士の余白（お好みで） */
    padding-left: 100px; /* 余白が入っていたら削除 */
}
.products_nav a {
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}

.products_nav a:visited {
    color: #000;
}
.products_nav a.active {
    color: #e60023;
}
.products__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 15px;
    width: 100%;
}
.card {
    width: 20%;
    height: 250px;
    margin: 15px;
}
.card img {
    width: 80%;
}
.sold-label {
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 4px;
}
