.order {
    margin: auto 0px;
    max-width: 1540px;
}
.form {
    display: flex;
    justify-content: space-evenly;
}
.left-content {
    width: 60%;
    margin: 50px 20px;
    text-align: left;
}
.right-content {
    width: 30%;
    margin: 50px 30px;
}
.order-image {
    width: 30%;
}
.order-image img {
    width: 100%;
    padding-bottom: 20px;
}
.order-product {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}
.order-information {
    margin-left: 30px;
    font-size: 24px;
}
.order-information h3 {
    margin-top: 0;
}
.payment-type,
.shipping-address {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.payment-type__contents,
.shipping-address__contents {
    margin-bottom: 10px;
}

.shipping-address__title {
    display: flex;
    justify-content: space-between;
}
.shipping-address a {
    text-decoration: none;
    margin: 20px;
    color: blue;
}
.shipping-address a :valid {
    color: blue;
}
.shipping-address__contents {
    margin: 0 50px;
}
.shipping-address__contents p {
    margin: 0;
}
.total-price {
    width: 100%;
    height: 200px;
}
.total-price tr {
    border: 1px solid #000;
}

.total-price {
    margin-bottom: 20px;
}
.order__submit {
    margin-top: 30px;
}
.order__submit-button {
    padding: 5px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: red;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 1540px) and (min-width: 1400px) {
    .order-image img {
        width: 80%;
        padding-bottom: 20px;
    }
    .order-information {
        margin-left: 10px;
    }
}
