.sell-item {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.sell-item__title {
    margin-bottom: 20px;
    text-align: center;
}
.sell-item__contents {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.contents__subtitle {
    border-bottom: 2px solid #000;
}
.form__group {
    margin-bottom: 5px;
}
.form__group-title {
    padding: 15px;
    text-align: left;
}
.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}
.form__group-image input {
    padding: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.form__group-input input,
.form__group-select select {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.form__group-input textarea {
    padding: 10px;
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}
.form__group-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.chip {
    border: 1px solid #e60023;
    border-radius: 9999px;
    padding: 1px 5px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.chip input {
    display: none;
}

.chip input:checked + span {
    background-color: #e60023;
    color: #fff;
    border-color: #e60023;
    border-radius: 9999px;
    padding: 3px 7px;
}
.sell-item__button {
    margin-top: 20px;
}
.button__submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
